*{
    margin: 0px;
    padding: 0px;
}



.container{
    margin: 25px;
    grid-template-columns: auto;
    background-color: white;
    height: 300vh;
}

.blogHeading{
    text-align: center;
    padding: 10px;
}


.images img{
    width: 10%;
    padding-bottom: 20px;
   
}
.date{
    padding-bottom: 30px;
}
.longDescription{
   

}
h1{
    font-size: 30px;
   }
p{
    font-size: 25px;
    padding-bottom: 10px;

}
p1{
    font-size: 15px;
    text-align: justify;
    
}